/Makefile
/Makefile.in

/aclocal.m4
/autom4te.cache

/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4

/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

/*.pc
/*-config


/src/Makefile
/src/Makefile.in

/src/.libs
/src/*.o
/src/*.lo
/src/*.la
/src/.deps
/src/*_rdict.cxx
/src/*_rdict.h
/src/*_rdict.pcm
/src/*.rootmap

#auto generated backups
*.*~

/doc/Makefile
/doc/Makefile.in
/doc/Doxyfile
/doc/html/
/doc/latex/

# Eclipse CDT project files
/.cproject
/.project
